<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.Servlet.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>com.Servlet.change</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tijiao</servlet-name>
        <servlet-class>com.Servlet.tijiao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tijiao</servlet-name>
        <url-pattern>/tijiao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adds</servlet-name>
        <servlet-class>com.Servlet.adds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adds</servlet-name>
        <url-pattern>/adds</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.Servlet.upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadf</servlet-name>
        <url-pattern>/uploadf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadf</servlet-name>
        <servlet-class>com.Servlet.uploadf</servlet-class>
    </servlet>
    <context-param>
        <param-name>encoding</param-name>
        <param-value>GBK</param-value>
    </context-param>
</web-app>